/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul,
.nav,
.jumbotron h1 {
  font-family: 'Arvo', Courier, serif;
}

ul,
.nav {
  font-size: 13px;
  word-spacing: 1px;
}

#get-involved {
  background-color: #f5f5f5;
}

.jumbotron h1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.jumbotron p {
  margin-bottom: 30px;
  font-weight: 400;
  padding: 0 50px;
}

.jumbotron {
  text-align: center;
  background-image: url('../images/hero-image.jpg');
  color: #fff;
}

.btn-lg {
  font-size: 36px;
}

.btn-danger {
  background-color: rgba(217, 83, 79, 0.1);
  border-color: #d43f3a;
}

.homepage {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.homepage h2,
.homepage h3 {
  color: #e74c3c;
  text-transform: uppercase;
  font-family: 'Arvo, Courier, serif';
}

.homepage h2 {
  font-size: 30px;
}

.homepage h3 {
  font-size: 26px;
}

.homepage p {
  font-size: 21px;
  font-weight: 300;
}

.homepage a {
  color: #e74c3c;
}

.homepage a:hover {
  color: #e74c3c;
  text-decoration: none;
  opacity: 0.8;
}

.homepage hr {
  border-color: #e74c3c;
  width: 160px;
  margin-top: 15px;
}

footer {
  background-color: #f74c3c;
  padding-top: 160px;
  padding-bottom: 30px;
}

/* Responsive Styling */

@media (max-width: 1199px) {
  .jumbotron h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .jumbotron h1 {
    font-size: 44px;
  }
  .jumbotron p {
    padding: 0 10px;
  }
  #get-involved,
  .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 24px;
  }
  .jumbotron p {
    padding: 0;
    font-size: 18px;
  }
  .btn-lg {
    font-size: 16px;
  }
  .homepage p {
    font-size: 18px;
  }

  footer img {
    width: 80%;
  }
}
